{% extends "base.html" %}
{% block start %}
    <h1 class="text-primary text-center mt-4">Tiger Park Limited</h1>
    <div class="container">
        <button>
            <a class="text-decoration-none text-black" href="/">Home</a>
        </button>
    </div>
    <hr class="text-warning">

   <h4 class="text-center mb-4">This is about page</h4>

   <div class="container">
    <form class=" col-6 card p-3 shadow-lg mx-auto" method="POST">
        {% csrf_token %}

        <h4>Add New Student</h4>
        <hr>

        <div class="form-group mb-3">
          <label for="exampleInputEmail1">Name</label>
          <input name="name" type="text" required class="form-control" placeholder="Enter Name">
        </div>
        <div class="form-group mb-3">
          <label>E-mail</label>
          <input name="email" type="email" required class="form-control" placeholder="Enter E-mail">
        </div>
        <div class="form-group mb-3">
          <label>Address</label>
          <input name="address" type="text" class="form-control" placeholder="Enter Address">
        </div>
        <div class="form-group mb-3">
          <label>Phone Number</label>
          <input name="mobile" type="phone" required class="form-control" placeholder="Enter Phone Number">
        </div>
       
        <button type="submit" class="btn btn-success">Add Student</button>
      </form>
   </div>
   
   <div class="container">
    <h3 class="text-center text-danger my-5">Student Information Table</h3>
    <p class="text-center">"Information from postgresql DB side :)"</p>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">S. no</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">E-mail</th>
            <th scope="col">Mobile</th>
            <th scope="col">Action</th>
            
        </tr>
        </thead>
        <tbody>
            {% for student in students %}
          <tr class="font-medium">
            <th scope="row">{{forloop.counter}}</th>
            <td>{{student.name}}</td>
            <td>{{student.address}}</td>
            <td>{{student.email}}</td>
            <td>{{student.mobile}}</td>
            <td><a class="btn btn-danger" href="/delete-student/{{student.id}}">Delete</a></td>
            
        
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>
    
{% endblock %}