{% extends "base.html" %}
{% block start %}
    <h1 class="text-primary text-center mt-4">Tiger Park Limited</h1>
    <h4>{{request.user.first_name}}</h4>
    <div class="container">
        <button>
            <a class="text-decoration-none text-black" href="/about">About</a>
        </button>
    </div>
    <hr class="text-warning">

    <!-- get data from server side and display data  -->

    <div class="container">
        <h3 class="text-center text-danger my-3">Student Information Table</h3>
        <p class="text-center">"Information from server side :)"</p>
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">S. no</th>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col">Roll</th>
                <th scope="col">Department</th>
                <th scope="col">Group</th>
                <th scope="col">Seisson</th>
            </tr>
            </thead>
            <tbody>
                {% for student in student_info %}
              <tr class="font-medium">
                <th scope="row">{{forloop.counter}}</th>
                <td>{{student.name}}</td>
                <td>{{student.age}}</td>
                <td>{{student.roll}}</td>
                <td>{{student.department}}</td>
                <td>{{student.group}}</td>
                <td>{{student.seisson}}</td>
            
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
 {% endblock %}