{% extends "base.html" %}
{% block start %}
    <h1 class="text-primary text-center mt-4">Tiger Park Limited</h1>
    <div class="container">
        <button>
            <a class="text-decoration-none text-black" href="/">Home</a>
        </button>
    </div>
    <hr class="text-warning">


   <div class="container">
    <form class=" col-6 card p-3 shadow-lg mx-auto" method="POST">
        {% csrf_token %}

        <h4>Login</h4>
        <hr>
        <div class="form-group mb-3">
          <label>User Name</label>
          <input name="username" type="text" class="form-control" placeholder="Enter User Name">
        </div>
        <div class="form-group mb-3">
          <label>Password</label>
          <input name="passwor" type="password" required class="form-control" placeholder="Enter Password">
        </div>
       <p>
        Don't have any account ? Please <a href="/register">Register</a>
       </p>
        <button type="submit" class="btn btn-success">Login</button>
      </form>
   </div>
   
   
    
{% endblock %}